.QuizStart {
  overflow: auto; 
  max-height: calc(100%);
  max-width: calc(100%);
}

#quizName, #loadingName {
  color: lightgreen; 
}

.StartQuizButton {
    //margin-top:200px;
    padding-top: 50px;
    padding-bottom:50px;
    margin: 4px 2px;
    border-radius: 50%;
    // background-color: rgb(128, 0, 0);  
    transform: translateY(4px);
}

.StartQuizButton span { //makes it slow/panning
    transition: 0.5s;
}
 
  .StartQuizButton:hover span {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .StartQuizButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  .StartQuiz {
    margin: 5em; 
  }

