.CreateQuizPage {
  text-align: center;
  color: white; 
  background-image: linear-gradient(to bottom,rgba(179, 185, 231, 0.068), rgb(83, 52, 19));


  #createaquiz {
    font-size: 36pt;
    margin-bottom: 0px;
  }
}
  
.CreateQuizPage > div,
.CreateQuizPage .container,  
.CreateQuizPage .row,
.CreateQuizPage .col {
  position: relative;
  height: 100%;
}