.CreateQuizPage {
  text-align: center;
  color: white; 
  background-color: rgb(41, 110, 41);


  #createaquiz {
    font-size: 36pt;
    margin-bottom: 0px;
  }
}
  
.CreateQuizPage > div,
.CreateQuizPage .container,  
.CreateQuizPage .row,
.CreateQuizPage .col {
  position: relative;
  height: 100%;
}