.LandingPage {
  text-align: center;
  background-image: url('music_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  


  #StartOrCreateCol {
    padding: 5em; 

    .btn {
      padding: 1em; 
      margin: 1em; 
    }
  }
}
