.LandingPage {
  text-align: center;
  background-image: linear-gradient(to bottom,rgb(41, 110, 41), white);

  // ----------------- OLD ONE -------->
/*.LandingPage {
  text-align: center;
  background-image: url('music_1.png');
  background-repeat: no-repeat;
  background-size: cover;
*/
  

  #StartOrCreateCol {
    padding: 5em; 

    .btn {
      padding: 1em; 
      margin: 1em; 
    }
  }

  #info {
    font-size: 14pt;
    color: white;
    text-align: left;
  }
}
