.LandingPage {

//----------------- SAME COLOR WHOLE PAGE/GRADIENT --------> 
 text-align: center;
 //background-image: linear-gradient(to bottom,rgb(161, 95, 106), rgba(255, 142, 13, 0.514));
 background-image: linear-gradient(to bottom right,rgb(105, 71, 71), rgb(3, 3, 3));


 //----------------------------------------------------> 


  /* ----------------- THE FIRST ONE WE HAD -------->
  text-align: center;
  background-image: url('music_1.png');
  background-repeat: no-repeat;
  background-size: cover;
----------------------------------------------------> */
  
/* ----------------- DARK VERSION WITH REACT-COLOR/GREEN -------->
  //background-image: url('music_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: futura; 

  overflow: auto; 
  max-height: calc(100%);
  max-width: calc(100%);
----------------------------------------------------> */

  overflow: auto; 
  max-height: calc(100%);
  max-width: calc(100%);

  #StartOrCreateCol {
    padding: 5em; 

    .btn {
      padding: 1em; 
      margin: 1em; 
      background-color: lightseagreen; 
      border-color: lightseagreen; 
    }
  }

  #info {
    font-size: 14pt;
    //color: white; 
    color: lightgreen;
    text-align: center;
  }
}
