.QuizPage {
  text-align: center;
  color: white; 
  padding: 2em; 

  overflow: auto; 
  max-height: calc(100%);
  max-width: calc(100%);
  //background-image: linear-gradient(to bottom,rgb(37, 35, 61), rgba(134, 243, 134, 0.514));
  background-image: linear-gradient(to bottom right,rgb(105, 71, 71), rgb(3, 3, 3));


}



