.SelectPage {
  text-align: center;
  color: white;

  .form-control {
    margin: 2%;
    padding-right: 5px;
  }
  
  #selectaquiz {
    font-size: 36pt;
  }

  .quizList {
    position: relative;
    height: 100%;
  }
}

.SelectPage > div,
.SelectPage > div > div {
  position: relative;
  height: 100%;
}



