.SelectPage {
  text-align: center;
  color: white;
  //background-image: linear-gradient(to bottom,rgb(37, 35, 61), rgba(134, 243, 134, 0.514));
  background-image: linear-gradient(to bottom right,rgb(105, 71, 71), rgb(3, 3, 3));



  // overflow: auto; 
  // max-height: calc(100%);
  // max-width: calc(100%);

  .form-control {
    margin: 2%;
    padding-right: 5px;
  }
  
  #selectaquiz {
    font-size: 36pt;
    margin-bottom: 0px;
  }

  .quizList {
    position: relative;
    height: 100%;
  }
}

.SelectPage > div,
.SelectPage .container,  
.SelectPage .row,
.SelectPage .col {
  position: relative;
  height: 100%;
}



