// .headerBar {
//     background-color: #AC8887; 
// }

#quizifyButton {
    font-size: 60pt; 
    font-family: 'Unica One', cursive;
    color: white; 

   /* font-size: 40pt; 
    font-family: futura; 
    color: #2de630; */
}

#StartQuizButton {
    color: lightgreen;
}

//------------- CHANGE COLOR HEADER ------>
#navigation {
    background-color:rgb(250, 186, 10);

}