#quizifyButton {
    font-size: 60pt; 
    font-family: fantasy ; 
    color: white; 
}

#StartQuizButton {
    color: lightgreen;
}

//------------- ADDED ------>
#navigation {
    background-color:rgb(41, 110, 41);

}