.Spotify {
  #record {
    width: 300px;
    margin-bottom: 10px;
    align-self: center;
  }

  #album {
    width: 100px;
    animation: Album-spin infinite 20s linear;
  }

  #recordPlayer {
    background-color: rgba(0,0,0,0);
    border: none;

    .card-img-overlay {
      padding: 6rem;
    }
  }

  @keyframes Album-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

}