.StartQuizButton {
    //margin-top:200px;
    padding-top: 50px;
    padding-bottom:50px;
    margin: 4px 2px;
    border-radius: 50%;
    background-color: rgb(250, 236, 36);  
    transform: translateY(4px);

}

.questionList {
  text-align: center; 
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(75% - 20px);
  padding-top: 5px;
  margin-bottom: 10px;
}

.StartQuizButton span { //makes it slow/panning
    //cursor: pointer;
    //display: inline-block;
    //position: relative;
    transition: 0.5s;
}
  
.StartQuizButton:hover span {
  padding-right: 10px;
  padding-left: 10px;
}

.StartQuizButton:hover span:after {
  opacity: 1;
  right: 0;
}

.StartQuiz {
  margin: 5em; 
}

/*#vline {
  border-left: 4px solid black;
  height: 80px;
  
}*/

  .Wrong {
    //border-color: red;
    //border-width: 5px;
    background-color: rgb(236, 140, 96)


  }

  #correct {
    //border-color: green;
    //border-width: 5px;
    background-color: rgb(96, 236, 108)
  }

.questionList {
  margin: 5%;
}

.DeleteButton {
  padding-top: 5px;
  padding-bottom:5px;
  border-radius: 50px 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
}

.DeleteButton:hover {
  background-color: grey;
}

.fa fa-trash {
  width: 150%;
  height: 150%;

}