#selectaquiz {
    //color: #90ee90; 
    color: white;
}

.quizList {
    text-align: center; 
    overflow: auto;
    max-height: calc(90% - 80px);
    padding-top: 5px;

    a:hover {
        text-decoration: unset;    
    }

    div.bg-info:hover {
        background-color: #178292!important
    }
}

#loadingQuizes {
    color: lightgreen; 
}

#quizSearch {
    overflow: auto;
    max-height: calc(90% - 80px);
    padding-top: 5px;
}

@media only screen and (max-width: 575px) {
    #quizSearch {
        display: none;
    }
}

#quizSearch {
    #searchBtn,
    #backBtn {
        margin: 7px; 
    }
}

.card-img-overlay {
    padding: 0;

    span {
        -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: left, right;
        mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: left, right;

        float: right;
        height: 100%;
    }

    .flag-icon {
        background-position: none !important;
    }
}

