.Confirm {
    //margin-top:200px;
    padding-top: 10px;
    padding-bottom:10px;
    margin: 4px 2px;
    border-radius: 50%;
    //background-color: rgb(250, 236, 36);  
    transform: translateY(4px);

}

.quizList {
    text-align: center; 
    // margin-left: 2em; 
}
 
.ConfirmButton span { 
    transition: 0.5s;
}

.card-img-overlay {
    padding: 0;

    span {
        -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: left, right;

        float: right;
        height: 100%;
    }
}

.ConfirmButton:hover span {
padding-right: 10px;
padding-left: 10px;
}

.ConfirmButton:hover span:after {
opacity: 1;
right: 0;
}

